.oauth-container {
  margin-top: 2rem;
}

.oauth-container > p {
  color: #828282;
  font-size: 0.875rem;
  letter-spacing: -0.49px;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1.25rem;

  margin: 1.375rem 0;
}
